header {
    background-color: inherit;
    color: black;
    padding: 0;
    position: relative;
}

.title-row {
    padding: 1rem 1rem 0 1rem;
    display: flex;
    justify-content: space-around;
}

.menu-btn {
    margin: auto 0 auto 10px;
    cursor: pointer;
    width: 2rem;
}

.title-row>a {
    flex: 1;
    text-align: center;
    text-decoration: none;
}

header h1 {
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-size: 24px;
    color: hsl(287, 82%, 65%);
    margin: 0;
}

.header-contents {
    padding: 1rem 1.5rem;
    background-color: white;
    z-index: 1;
    flex-wrap: wrap;
    position: relative;
}

.header-contents.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 1px solid hsl(0, 0%, 80%);
}

.header__profile-nav-item {
    display: none;
    height: fit-content;
    margin: auto 0;
}

header .search-input {
    display: none;
}

@media screen and (min-width: 800px) {
    .header-contents {
        display: flex;
        justify-content: space-between;
    }

    header .search-input {
        display: flex;
    }

    header nav .profile-nav-item,
    header nav .sign-up {
        display: none;
    }

    .header__profile-nav-item {
        display: block;
    }

    .title-row {
        padding: 0 5rem;
    }

    header .title-row {
        display: none;
    }

    header h1 {
        font-size: 36px;
        flex: 2;
    }

    .menu-btn {
        display: none;
    }

    header .menu-form {
        display: flex;
    }
}

.divider {
    width: calc(100% - 3rem);
    height: 2px;
    background-color: #f0f0f0;
    border-radius: 2px;
    position: absolute;
    left: 1.5rem;
}