header {
    background-color: hsl(287, 82%, 65%);
    color: white;
    padding: 1rem 1.5rem;
    position: relative;
}

.title-row {
    flex: 1;
    display: flex;
    justify-content: space-around;
}

.menu-btn {
    margin: auto 0 auto 0;
    cursor: pointer;
    width: 2rem;
}

.title-row>a {
    flex: 1;
    text-align: center;
    text-decoration: none;
}

header h1 {
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-size: 24px;
    color: white;
}

header .menu-form {
    display: none;
    padding: 0;
    height: 3rem;
    margin: auto 1rem;
    flex: 1;
}

@media screen and (min-width: 800px) {
    header {
        display: flex;
        padding: 1.5rem 0;
    }
    header h1 {
        font-size: 36px;
        flex: 2;
    }
    .menu-btn {
        display: none;
    }
    header .menu-form {
        display: flex;
    }
}

.profile-menu {
    background-color: hsl(0, 0%, 15%);
    padding: 1rem;
    padding-bottom: 0;
    width: 300px;
    position: absolute;
    /* margin-top: 1rem; */
    top: 100%;
    right: 0;
    z-index: 10;
    border: dashed white;
    border-width: 0 1px 1px 1px;
    border-radius: 0 0 0 2rem;
}

.profile-menu > * {
    /* border-bottom: 1px solid white; */
    padding: 0.5rem;
}