nav {
    display: flex;
    justify-content: space-between;
    height: 2.5rem;
    margin: auto 0;
}

nav.menu-nav {
    background-color: hsl(0, 0%, 15%);
    flex-direction: column;
    height: auto;
    margin: 1.5rem 0;
}

.nav-item {
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    color: black;
    /* color: white; */
    justify-content: center;
    align-items: center;
}

nav.menu-nav .nav-item {
    flex-direction: row;
    padding: 1rem;
    display: flex;
    width: 50%;
    margin: 0 auto;
    color: white;
}

nav.menu-nav .header-icon-text {
    font-weight: 500;
}

.nav-item.active {
    /* color: hsl(287, 82%, 65%); */
}

.nav-item.active .header-icon {
    font-size: 2rem;
}

.nav-item.active .header-icon-text {
    font-size: 1.5rem;
}

nav.menu-nav .nav-item.active {
    color: hsl(287, 82%, 65%);
}

.nav-item span {
    margin: 0 1px;
}

.header-icon {
    display: inline-block;
    text-align: center;
}

.header-icon-text {
    display: none;
    text-align: center;
    align-self: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 16px;
}

nav.menu-nav .header-icon-text {
    display: inline-block;
    flex: 1;
}

.profile-nav-item {
    position: relative;
}

.profile-icon {
    background-color: skyblue;
    width: 2.5rem;
    height: 2.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 1.25rem;
    color: white;
}

@media screen and (min-width: 800px) {
    nav {
        padding-right: 0;
        width: 40vw;
    }

    .nav-item {
        padding: 0 0.5rem;
    }

    .header-icon-text {
        display: inline-block;
    }

    .profile-nav-item .header-icon-text {
        display: none;
    }
}