* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
}

main > div {
    padding: 1rem;
}

h1 {
    color: orange;
}

input, textarea {
    padding: 0.5rem;
}

button {
    padding: 0.5rem;
    font-weight: 400;
    background-color: hsl(287, 82%, 65%);
    color: white;
    font-family: 'Rubik', sans-serif;
    min-width: 7.5rem;
    margin: 0 auto;
    border-radius: 0.5rem;
}

.skeleton {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: hsl(0, 0%, 50%);
    overflow: hidden;
}

.skeleton::after {
    background-image: linear-gradient(
      90deg,
      hsla(0, 0%, 100%, 0) 0,
      hsla(0, 0%, 100%, 0.2) 20%,
      hsla(0, 0%, 100%, 0.5) 60%,
      hsla(0, 0%, 100%, 0)
    );
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: inherit;
    content: "";
    transform: translateX(-100%);
    animation: skeleton 5s infinite;
}

@keyframes skeleton {
    100% {
        transform: translateX(100%);
    }
}