.new-product {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

.new-product form {
    display: flex;
    flex-direction: column;
}

.new-product form > p {
    margin-top: 2rem;
}

.new-product form>button {
    margin-top: 1rem;
}

.product-input input {
    display: flex;
    flex: 1;
    margin: 0.5rem auto;
    justify-content: space-between;
    border: 1px solid darkgray;
}

.product-input {
    display: flex;
}

.product-input p {
    display: none;
    margin: auto 0;
    min-width: 10rem;
    margin-right: 1rem;
}

.product-input .desktop {
    display: none;
}

@media screen and (min-width: 800px) {
    .product-input p {
        display: block;
    }
    .product-input .desktop {
        display: flex;
    }
    .product-input .mobile {
        display: none;
    }
}